<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>松霖商城</title>
<link rel="stylesheet" href="/static/index/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/index/css/flexslider.css">
<link rel="stylesheet" href="/static/index/css/main.css">
<link rel="stylesheet" href="/static/index/css/responsive.css">
<link rel="stylesheet" href="/static/index/css/animate.min.css">
<link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
</head>

<body>

<!-- Header Section -->
<section class="tophead" role="tophead"> 
  <!-- Navigation Section -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="#">松霖 - 当然与众不同！</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#header-slider">首页</a></li>
          <li><a href="#services">家装精品</a></li>
          <li><a href="#portfolio">生活好物</a></li>
          <li><a href="#testimonials">松霖会员</a></li>
          <li><a href="#contact">会员注册</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- Navigation Section --> 
</section>
<!-- Header Section --> 
<!-- Slider Section -->
<section id="header-slider" class="section">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active"> <img src="http://pic.solux.cn/image/01/19/43/ac30d94b7070811d6e628ad20c.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item"> <img src="http://pic.solux.cn/image/8d/2e/1f/4e7923179a8cf7d2bd29c58ea0.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
    <!-- Controls --> 
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span></a></div>
</section>
<!-- Slider Section --> 
<!-- Service Section -->
<section id="services" class="section services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="services-content">
          <h4>松霖,一件极品</h4>
          <p>20年智能精工制造，只做世界级的高品质产品，件件如此。</p>          
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services-content">
          <h5>帮助中心</h5>
          <ul>
            <li><a href="#">购物指南</a></li>
            <li><a href="#">了解松霖</a></li>
            <li><a href="#">联系松霖</a></li>
            <li><a href="#">售后政策</a></li>
            <li><a href="#">在线客服</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services-content">
          <h5>生活好物馆</h5>
          <ul>
            <li><a href="#">新品首发</a></li>
            <li><a href="#">会员专属</a></li>
            <li><a href="#">设计师</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Section --> 

<!-- portfolio grid section -->
<section id="portfolio" class="section portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>The Shape of Design</h3>
            <h4>Branding/Graphic</h4>
          </div>
        </div>
        <img src="http://pic.solux.cn/image/a5/47/c1/00c4a429ca33d61d43d999b2d7.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="http://pic.solux.cn/image/7f/f5/e1/097790f1ef4d028bd4dc44c70a.png" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="http://pic.solux.cn/image/1d/b3/25/fd224b23d4965d72abc6f13782.png" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="http://pic.solux.cn/image/f8/6a/5d/ed4f70c0ed2847c259cc491006.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="http://pic.solux.cn/image/15/06/af/12ffabc0cc622814dff8079a01.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="http://pic.solux.cn/image/4f/a9/50/439d099499d5e0d9fc8d292d72.jpg" class="img-responsive" alt=""> </a> </div>
    </div>
  </div>
</section>
<!-- portfolio grid section --> 

<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                  <h1>有一个品牌<br>问鼎全球产品设计“奥斯卡”大奖 104 项</h1>
                  <p>SOLUX设计时代 悄然而至</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                  <h1>有一个家居品牌<br>全球发明与设计专利超过 3800 项 </h1>
                <p>松霖，发现新算法</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                  <h1>20年智能精工制造<br>只做世界级的高品质产品<br>件件如此</h1>
                <p>松霖，一件极品</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                  <h1>只有松霖会员，<br>才能享受松霖会员特权 </h1>
                  <p>松霖会员,当家作主有特权</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section --> 

<!-- footer section -->
<footer id="contact" class="footer">
  <div class="container-fluid">
    <div class="col-md-2 left">
      <h4>关注我们</h4>
      <p></p>
    </div>
    <div class="col-md-2 left">
      <h4>客服</h4>
      <p> 电话:400-667-6665 <br> </p>
    </div>
    <div class="col-md-2 left">
    </div>
    <div class="col-md-6 right">
      <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
    </div>
  </div>
</footer>
<!-- footer section --> 

<!-- JS FILES --> 
<script src="/static/index/js/jquery.min.js"></script> 
<script src="/static/index/js/bootstrap.min.js"></script> 
<script src="/static/index/js/jquery.flexslider-min.js"></script> 
<script src="/static/index/js/retina.min.js"></script> 
<script src="/static/index/js/modernizr.js"></script> 
<script src="/static/index/js/main.js"></script>
</body>
</html>
